h1 {
    text-align: center;
}

.titulo {
    text-align: center;
    background-color: darkgrey;
}

table {
   width: 70%;
   margin: 0 auto;
   border-collapse: collapse;
   border: 5px solid black;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.nom {
    text-align: right;
}

tr, th, td {
    border: 1px solid black;
}